<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title>Servicios</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-card *ngFor="let servicio of servicios">
    <ion-card-header color="primary" ><p style="text-transform: uppercase">SERVICIOS - {{servicio.linea}}</p></ion-card-header>
    <ion-grid >
      <ion-row><ion-col>Monto:</ion-col> <ion-col class="alin">{{servicio.monto}}</ion-col></ion-row>
      <ion-row><ion-col>Saldo:</ion-col> <ion-col class="alin">{{servicio.saldoactual}}</ion-col></ion-row>
      <ion-row><ion-col>Cuota:</ion-col> <ion-col class="alin">{{servicio.cuota}}</ion-col></ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
