<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="pie" color="primary"></ion-icon>
      <ion-label color="primary">Resumen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="simulador">
      <ion-icon name="apps" color="primary"></ion-icon>
      <ion-label color="primary">Simulador</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticias">
      <ion-icon name="desktop" color="primary"></ion-icon>
      <ion-label color="primary">Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contactenos">
      <ion-icon name="send" color="primary"></ion-icon>
      <ion-label color="primary">Contáctenos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
